{
  "root": true,
  "extends": [
    "airbnb-base",
    "prettier",
  ],
  "plugins": [
    "prettier",
    "import",
  ],
  "env": {
    "browser": true,
    "node": true,
  },
  "settings": {
    "ecmaFeatures": {
      "classes": true,
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": [2, {
      "devDependencies": [
        "**/__tests__/**",
        "**/*.test.js",
        "**/*-test.js",
        "scripts/**",
      ]
    }],
    "max-len": [1, 120],
    "no-console": [2, {
      "allow": ["debug", "warn", "error", "log"],
    }],
    "no-empty": 1,
    "no-restricted-syntax": 0,
    "object-curly-newline": 0,
    "prefer-promise-reject-errors": 1,
  },
  "overrides": [
    {
      "files": "scripts/**",
      "rules": {
        "no-underscore-dangle": 1, // TODO: refactor to use private fields
      }
    },
    {
      "files": "src/plugins/**",
      "parserOptions": {
        "ecmaVersion": 2019,
      },
    },
  ]
}
